.graphContainer {
    /* width: 200;
    height: 100; */
    background: white;
    padding: 30px 20px 10px 20px;
    border-radius: 10px;
    /* -webkit-box-shadow: 0px px 0px -5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 10px 0px -5px rgba(0,0,0,0.3);
    box-shadow: 0px 10px 0px -5px rgba(0,0,0,0.3); */
}

.fullGraphContainer {
    /* width: 20vw;
    height: 20vh; */
    background: white;
    padding: 30px 20px 10px 20px;
    border-radius: 10px;
}

/* @media only screen and (max-width: 600px) {
    .graphContainer {
        width: 80vw;
    }
    .fullGraphContainer {
        width: 80vw;
    }
} */
